<!DOCTYPE html>
<html lang="{{app.request.locale}}">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>

        {{ content_metadata(block('omit_og_metadata') is not defined) }}

        {% block stylesheets %}
            {{ encore_entry_link_tags('main') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('main') }}
        {% endblock %}
    </head>
    <body>
        {% block body %}{% endblock %}

        {#
        The built-in consent manager root element.
        'data-endpoints' - retrieve the endpoints for the banner
        'data-privacy' - retrieve the privacy policy url for the banner
        'data-cookie' - retrieve the cookie policy url for the banner
        #}
        <div id="consent-banner-container"
             data-endpoints="{{ privacy_consent_endpoints()|json_encode|e('html_attr') }}"
             data-privacy="{{ get_privacy_policy()|e('html_attr') }}"
             data-cookie="{{ get_cookie_policy()|e('html_attr') }}">
        </div>

        {#
        The built-in consent manager requires an element
        with data attribute 'data-consent-banner-trigger'.
        You can add yours or leave this one by default.
        If the element is not detected, it will be added automatically.
        #}
        <button data-consent-banner-trigger="main-trigger">Open</button>
    </body>
</html>
